.header {
  background-color: var(--darkBlue);
  color: var(--lightGrey);
  padding: 0.8rem 1rem;

  .header__menu_background {
    width: 100vw;
    height: 0;
    background-color: rgba(4, 8, 71, 0.85);
    backdrop-filter: blur(5px);
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
  }
  .header__menu_background_active {
    height: 100vh;
    opacity: 1;
  }

  .header__container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .header__container_menu_icon {
      width: 2.5rem;
      height: 2.5rem;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: auto;
      z-index: 3;

      .header__container_menu_icon_top {
        display: inline-block;
        width: 2.2rem;
        height: 0.2rem;
        border-radius: 16px;
        background-color: var(--blue);
        position: absolute;
        top: 0.8rem;
      }
      .header__container_menu_icon_top_active {
        animation: header__container_menu_icon_top 0.5s forwards;
      }
      .header__container_menu_icon_top_back {
        animation: header__container_menu_icon_top-back 0.5s forwards;
      }
      .header__container_menu_icon_bottom {
        display: inline-block;
        width: 2.2rem;
        height: 0.2rem;
        border-radius: 16px;
        background-color: var(--blue);
        position: absolute;
        top: 1.6rem;
      }
      .header__container_menu_icon_bottom_active {
        animation: header__container_menu_icon_bottom 0.5s forwards;
      }
      .header__container_menu_icon_bottom_back {
        animation: header__container_menu_icon_bottom-back 0.5s forwards;
      }
    }

    .header__container_menu {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 0;
      transition: all 0.3s;
      font-size: 0.875rem;

      .header__container_menu_li {
        margin-left: 1rem;

        &:hover {
          cursor: pointer;
        }

        & a {
          text-decoration: none;
          color: var(--lightGrey);
        }
      }
    }
    .header__container_menu_active {
      flex-direction: column;
      display: flex !important;
      justify-content: center;
      position: fixed;
      top: 25%;
      left: 1%;
      right: 1%;
      z-index: 3;
      position: fixed;

      .header__container_menu_li {
        margin-bottom: 2rem;
        transform: scale(1.5);

        &:hover {
          cursor: pointer;
        }

        & a {
          text-decoration: none;
          color: var(--lightGrey);
        }
      }
    }

    .header__container_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 1rem;
      z-index: 3;

      & a {
        text-decoration: none;
        color: var(--lightGrey);
      }

      .header__container_logo_img {
        width: 2rem;
        height: 2rem;
        margin-left: 0.4rem;
        cursor: pointer;
      }
      .header__container_logo_h1 {
        font-size: 1.5rem;
        margin: 0;
        cursor: pointer;
      }
    }
  }
}

@keyframes header__container_menu_icon_top {
  20% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(0.2rem) rotate(45deg);
  }
}
@keyframes header__container_menu_icon_bottom {
  20% {
    transform: translateY(-0.6rem);
  }
  100% {
    transform: translateY(-0.6rem) rotate(135deg);
  }
}
@keyframes header__container_menu_icon_top_back {
  0% {
    transform: translateY(0.2rem) rotate(45deg);
  }
  60% {
    transform: translateY(0.2rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(0deg);
  }
}
@keyframes header__container_menu_icon_bottom_back {
  0% {
    transform: translateY(-0.6rem) rotate(135deg);
  }
  60% {
    transform: translateY(-0.6rem) rotate(0deg);
  }
  100% {
    transform: translateY(0rem) rotate(0deg);
  }
}

@media only screen and (max-width: 1024px) {
  .header__container_menu_icon {
    display: flex !important;
  }
  .header__container_menu {
    display: none !important;
  }
}
