.header {
  background-color: var(--darkBlue);
  color: var(--lightGrey);
  padding: 0.8rem 1rem;
}

.header .header__menu-background {
  width: 100vw;
  height: 0;
  background-color: rgba(4, 8, 71, 0.85);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.header .header__menu-background-active {
  height: 100vh;
  opacity: 1;
}

.header .header__container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__container .header__container_menu_icon {
  width: 2.5rem;
  height: 2.5rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: auto;
  z-index: 3;
}

.header .header__container .header__container_menu_icon .header__container_menu_icon_top {
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  border-radius: 16px;
  background-color: var(--blue);
  position: absolute;
  top: 0.8rem;
}

.header .header__container .header__container_menu_icon .header__container_menu_icon_top-active {
  -webkit-animation: header__container_menu_icon_top 0.5s forwards;
          animation: header__container_menu_icon_top 0.5s forwards;
}

.header .header__container .header__container_menu_icon .header__container_menu_icon_top-back {
  -webkit-animation: header__container_menu_icon_top-back 0.5s forwards;
          animation: header__container_menu_icon_top-back 0.5s forwards;
}

.header .header__container .header__container_menu_icon .header__container_menu_icon_bottom {
  display: inline-block;
  width: 2.2rem;
  height: 0.2rem;
  border-radius: 16px;
  background-color: var(--blue);
  position: absolute;
  top: 1.6rem;
}

.header .header__container .header__container_menu_icon .header__container_menu_icon_bottom-active {
  -webkit-animation: header__container_menu_icon_bottom 0.5s forwards;
          animation: header__container_menu_icon_bottom 0.5s forwards;
}

.header .header__container .header__container_menu_icon .header__container_menu_icon_bottom-back {
  -webkit-animation: header__container_menu_icon_bottom-back 0.5s forwards;
          animation: header__container_menu_icon_bottom-back 0.5s forwards;
}

.header .header__container .header__container_menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 0.875rem;
}

.header .header__container .header__container_menu .header__container_menu_li {
  margin-left: 1rem;
}

.header .header__container .header__container_menu .header__container_menu_li:hover {
  cursor: pointer;
}

.header .header__container .header__container_menu .header__container_menu_li a {
  text-decoration: none;
  color: var(--lightGrey);
}

.header .header__container .header__container_menu-active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 25%;
  left: 1%;
  right: 1%;
  z-index: 3;
  position: fixed;
}

.header .header__container .header__container_menu-active .header__container_menu_li {
  margin-bottom: 2rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header .header__container .header__container_menu-active .header__container_menu_li:hover {
  cursor: pointer;
}

.header .header__container .header__container_menu-active .header__container_menu_li a {
  text-decoration: none;
  color: var(--lightGrey);
}

.header .header__container .header__container_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  z-index: 3;
}

.header .header__container .header__container_logo a {
  text-decoration: none;
  color: var(--lightGrey);
}

.header .header__container .header__container_logo .header__container_logo_img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.4rem;
  cursor: pointer;
}

.header .header__container .header__container_logo .header__container_logo_h1 {
  font-size: 1.5rem;
  margin: 0;
  cursor: pointer;
}

@-webkit-keyframes header__container_menu_icon_top {
  20% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
  }
  100% {
    -webkit-transform: translateY(0.2rem) rotate(45deg);
            transform: translateY(0.2rem) rotate(45deg);
  }
}

@keyframes header__container_menu_icon_top {
  20% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
  }
  100% {
    -webkit-transform: translateY(0.2rem) rotate(45deg);
            transform: translateY(0.2rem) rotate(45deg);
  }
}

@-webkit-keyframes header__container_menu_icon_bottom {
  20% {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  100% {
    -webkit-transform: translateY(-0.6rem) rotate(135deg);
            transform: translateY(-0.6rem) rotate(135deg);
  }
}

@keyframes header__container_menu_icon_bottom {
  20% {
    -webkit-transform: translateY(-0.6rem);
            transform: translateY(-0.6rem);
  }
  100% {
    -webkit-transform: translateY(-0.6rem) rotate(135deg);
            transform: translateY(-0.6rem) rotate(135deg);
  }
}

@-webkit-keyframes header__container_menu_icon_top-back {
  0% {
    -webkit-transform: translateY(0.2rem) rotate(45deg);
            transform: translateY(0.2rem) rotate(45deg);
  }
  60% {
    -webkit-transform: translateY(0.2rem) rotate(0deg);
            transform: translateY(0.2rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0rem) rotate(0deg);
            transform: translateY(0rem) rotate(0deg);
  }
}

@keyframes header__container_menu_icon_top-back {
  0% {
    -webkit-transform: translateY(0.2rem) rotate(45deg);
            transform: translateY(0.2rem) rotate(45deg);
  }
  60% {
    -webkit-transform: translateY(0.2rem) rotate(0deg);
            transform: translateY(0.2rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0rem) rotate(0deg);
            transform: translateY(0rem) rotate(0deg);
  }
}

@-webkit-keyframes header__container_menu_icon_bottom-back {
  0% {
    -webkit-transform: translateY(-0.6rem) rotate(135deg);
            transform: translateY(-0.6rem) rotate(135deg);
  }
  60% {
    -webkit-transform: translateY(-0.6rem) rotate(0deg);
            transform: translateY(-0.6rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0rem) rotate(0deg);
            transform: translateY(0rem) rotate(0deg);
  }
}

@keyframes header__container_menu_icon_bottom-back {
  0% {
    -webkit-transform: translateY(-0.6rem) rotate(135deg);
            transform: translateY(-0.6rem) rotate(135deg);
  }
  60% {
    -webkit-transform: translateY(-0.6rem) rotate(0deg);
            transform: translateY(-0.6rem) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0rem) rotate(0deg);
            transform: translateY(0rem) rotate(0deg);
  }
}

@media only screen and (max-width: 1024px) {
  .header__container_menu_icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .header__container_menu {
    display: none !important;
  }
}
/*# sourceMappingURL=Header.module.css.map */