@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --darkBlue: #040847;
  --blue: #2484c6;
  --lightGray: #ffffff80;
  --gray: #676b72;
  --white: white;
  background-color: #eeeeee;
  font-family: IRANSansX;
}
@font-face {
  font-family: IRANSansX;
  src: url('./../public/assets/fonts/IRANSansX-Regular.woff2');
}
@font-face {
  font-family: IranYekan;
  src: url('./../public/assets/fonts/iranyekanwebregular.woff');
}
* {
  box-sizing: border-box;
}
