@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #eeeeee;
  font-family: IRANSansX;
}
@font-face {
  font-family: IRANSansX;
  src: url('./../public/assets/fonts/IRANSansX-Regular.woff2');
}
* {
  box-sizing: border-box;
}
